#Task 5:

---


## 1.Write a python programm for merge two excel file data to one file
### Write a python programm to sorting file in different folder means main folder containing 40 word file.
### Now after sorting create 4 child folder and store 10 file each folder.
## 2.Write a python programm separate duplicate file.
### Check with mobile number in main excel file and test data  doc and if it is same or equal create sperate file and store duplicate file data
## 3.Write a python programm for Shorting file by keywords.
### input: folder path = text value
### Create new folder=text value
### Search Keyword= text value
### Output: Create folder with input value and inside folder all shorting files displaying.

## Importing Required Libraries

In [ ]:
import pandas as pd
import os
import shutil
from pathlib import Path
from filecmp import cmp
import json

## 1.Write a python program for merge two excel file data to one file

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/YoShops Internship/Project Task 3/Product page Automation Validation 1.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/YoShops Internship/Project Task 1/Web_Scrapping.xlsx')

In [ ]:
df1.head()

,Web URL,Product Name,Product Details
0,https://yoshops.com/products/river-prawn-small...,River Prawn Small- 4cm 250gm(Berhampur),River Prawn Small- 4cm 250gm at price Rs.59 f...
1,https://yoshops.com/products/rohu-river-fish-r...,Rohu River Fish Raw 1Kg(Berhampur),Rohu River Fish Raw 1Kg at price Rs.149 from ...
2,https://yoshops.com/products/rohu-river-fish-c...,Rohu River Fish Cutting(No Head) 1Kg(Berhampur),Rohu River Fish Cutting(No Head) 1Kg at pric...
3,https://yoshops.com/products/vakura-catla-rive...,Vakura Catla River Fish Raw 1Kg(Berhampur),Vakura Catla River Fish Raw 1Kg at price Rs....
4,https://yoshops.com/products/river-prawn-raw-b...,River Prawn Raw Big-12cm 250gm(Berhampur),River Prawn Raw Big-12cm 250gm at price Rs.99...

In [ ]:
df2.head()

                              Category  Total Product Count
0           https://yoshops.com/t/toys                   29
1  https://yoshops.com/t/mobile-phones                   58
2        https://yoshops.com/t/laptops                   87
3    https://yoshops.com/t/accessories                  116
4    https://yoshops.com/t/electronics                  145

In [ ]:
df = pd.concat([df1, df2], axis=1)

In [ ]:
df.head()

,Web URL,Product Name,Product Details,Category,Total Product Count
0,https://yoshops.com/products/river-prawn-small...,River Prawn Small- 4cm 250gm(Berhampur),River Prawn Small- 4cm 250gm at price Rs.59 f...,https://yoshops.com/t/toys,29.0
1,https://yoshops.com/products/rohu-river-fish-r...,Rohu River Fish Raw 1Kg(Berhampur),Rohu River Fish Raw 1Kg at price Rs.149 from ...,https://yoshops.com/t/mobile-phones,58.0
2,https://yoshops.com/products/rohu-river-fish-c...,Rohu River Fish Cutting(No Head) 1Kg(Berhampur),Rohu River Fish Cutting(No Head) 1Kg at pric...,https://yoshops.com/t/laptops,87.0
3,https://yoshops.com/products/vakura-catla-rive...,Vakura Catla River Fish Raw 1Kg(Berhampur),Vakura Catla River Fish Raw 1Kg at price Rs....,https://yoshops.com/t/accessories,116.0
4,https://yoshops.com/products/river-prawn-raw-b...,River Prawn Raw Big-12cm 250gm(Berhampur),River Prawn Raw Big-12cm 250gm at price Rs.99...,https://yoshops.com/t/electronics,145.0

### Write a python programm to sorting file in different folder means main folder containing 40 word file.

In [ ]:
target_folder = r'/content/drive/MyDrive/YoShops Internship/Project Task 4/'+'//'
source_folder = r'/content/drive/MyDrive/YoShops Internship/Project Task 3/'+'//'

for path,dir,files in os.walk(source_folder):
    print(path)
    print(files)

/content/drive/MyDrive/YoShops Internship/Project Task 3///
['Project Task 3.txt', 'Page Automation Validation 1.xlsx', 'Page Automation Validation.xlsx', 'Product page Automation Validation.xlsx', 'Product page Automation Validation 1.xlsx', 'Project_Task_3.ipynb', 'Dileepkumar_Project_Task_3.ipynb']

In [ ]:
for path,dir,files in os.walk(source_folder):
    if files:
        for file in files:
            if not os.path.isfile(target_folder + file):
                os.rename(path + '//' + file, target_folder + file)

In [ ]:
for path,dir,files in os.walk(target_folder):
    print(path)
    print(files)

/content/drive/MyDrive/YoShops Internship/Project Task 4///
['Project Task 3.txt', 'Page Automation Validation 1.xlsx', 'Page Automation Validation.xlsx', 'Dileepkumar_Project_Task_3.ipynb', 'Conjuring.mp3', 'Product page Automation Validation 1.xlsx', 'Project_Task_3.ipynb', 'Product page Automation Validation.xlsx', 'img1.jpg', 'banner.jpg', 'logo.jpg', 'task4_img1.jpg', 'task4_img3.jpg', 'Video_banner.mp4', 'Blog.docx', 'Dileepkumar_Project_Task_4.ipynb']
/content/drive/MyDrive/YoShops Internship/Project Task 4///Open_Sans
['OFL.txt', 'OpenSans-Italic-VariableFont_wdth,wght.ttf', 'OpenSans-VariableFont_wdth,wght.ttf', 'README.txt']
/content/drive/MyDrive/YoShops Internship/Project Task 4///Open_Sans/static
[]
/content/drive/MyDrive/YoShops Internship/Project Task 4///Open_Sans/static/OpenSans_SemiCondensed
['OpenSans_SemiCondensed-SemiBold.ttf', 'OpenSans_SemiCondensed-Regular.ttf', 'OpenSans_SemiCondensed-ExtraBold.ttf', 'OpenSans_SemiCondensed-LightItalic.ttf', 'OpenSans_SemiCondensed-MediumItalic.ttf', 'OpenSans_SemiCondensed-ExtraBoldItalic.ttf', 'OpenSans_SemiCondensed-SemiBoldItalic.ttf', 'OpenSans_SemiCondensed-Bold.ttf', 'OpenSans_SemiCondensed-Italic.ttf', 'OpenSans_SemiCondensed-Light.ttf', 'OpenSans_SemiCondensed-BoldItalic.ttf', 'OpenSans_SemiCondensed-Medium.ttf']
/content/drive/MyDrive/YoShops Internship/Project Task 4///Open_Sans/static/OpenSans_Condensed
['OpenSans_Condensed-ExtraBoldItalic.ttf', 'OpenSans_Condensed-Italic.ttf', 'OpenSans_Condensed-SemiBoldItalic.ttf', 'OpenSans_Condensed-BoldItalic.ttf', 'OpenSans_Condensed-Bold.ttf', 'OpenSans_Condensed-Medium.ttf', 'OpenSans_Condensed-Regular.ttf', 'OpenSans_Condensed-LightItalic.ttf', 'OpenSans_Condensed-Light.ttf', 'OpenSans_Condensed-SemiBold.ttf', 'OpenSans_Condensed-MediumItalic.ttf', 'OpenSans_Condensed-ExtraBold.ttf']
/content/drive/MyDrive/YoShops Internship/Project Task 4///Open_Sans/static/OpenSans
['OpenSans-LightItalic.ttf', 'OpenSans-Italic.ttf', 'OpenSans-Medium.ttf', 'OpenSans-Light.ttf', 'OpenSans-Bold.ttf', 'OpenSans-SemiBoldItalic.ttf', 'OpenSans-SemiBold.ttf', 'OpenSans-MediumItalic.ttf', 'OpenSans-Regular.ttf', 'OpenSans-ExtraBoldItalic.ttf', 'OpenSans-ExtraBold.ttf', 'OpenSans-BoldItalic.ttf']
/content/drive/MyDrive/YoShops Internship/Project Task 4///.ipynb_checkpoints
[]

In [ ]:
dir_name = '/content/drive/MyDrive/Dataset'
# Get list of all files in a given directory sorted by name
list_of_files = sorted( filter( lambda x: os.path.isfile(os.path.join(dir_name, x)),
                        os.listdir(dir_name) ) )
for file_name in list_of_files:
    print(file_name)

Data Analyst Task (4).xls
Social_Network_Ads.csv
auto-mpg.csv
cell_samples.csv
coins.png
concertriccir2.csv
linearsep.csv
outlier.csv
petrol_consumption.csv
student_scores.csv
titanic.csv
train.csv
ushape.csv
wbc.csv
xor.csv

In [ ]:
path = '/content/drive/MyDrive/YoShops Internship/'
os.chdir(path)
Newfolders = 'Project Task 5'
os.makedirs(Newfolders)

In [ ]:
path = '/content/drive/MyDrive/YoShops Internship/Project Task 5/'
for i in range(0,4):
    os.chdir(path)
    Newfolders = 'SubFolder'+str(i)
    os.makedirs(Newfolders)

In [ ]:
k=0
for i in range(0,4):
    for j in range(0,10):
        src = '/content/drive/MyDrive/Dataset/'+list_of_files[j]
        dst = '/content/drive/MyDrive/YoShops Internship/Project Task 5/SubFolder'+str(i)
        shutil.copy2(src,dst)
        k=k+1

## 2.Write a python programm separate duplicate file.

In [ ]:
# list of all documents
DATA_DIR = Path('/content/drive/MyDrive/YoShops Internship/Project Task 3/')
files = sorted(os.listdir(DATA_DIR))
  
# List having the classes of documents
# with the same content
duplicateFiles = []
  
# comparison of the documents
for file_x in files:
    if_dupl = False
    for class_ in duplicateFiles:
        # Comparing files having same content using cmp()
        # class_[0] represents a class having same content
        if_dupl = cmp(DATA_DIR / file_x,DATA_DIR / class_[0],shallow=False)
        if if_dupl:
            class_.append(file_x)
            break
    if not if_dupl:
        duplicateFiles.append([file_x])
  
# Print results
print(duplicateFiles)

[['Dileepkumar_Project_Task_3.ipynb'], ['Product page Automation Validation 1.xlsx'], ['Product page Automation Validation.xlsx'], ['Project_Task_3.ipynb']]

### Check with mobile number in main excel file and test data doc and if it is same or equal create sperate file and store duplicate file data

In [ ]:
path=r'/content/drive/MyDrive/YoShops Internship/Personal Task - 1/1657173630381_5042579018065678/chats/2022'
def get_file(path):
    files=[]
    file_list=[]
    #r=root, d=directory, f=files
    for r,d,f in os.walk(path):
        for file in f:
            if '.json' in file:
                files.append(os.path.join(r,file))
    for f in files:
        
        file_list.append(f)
    return file_list
list_of_paths=get_file(path)

In [ ]:
mob1=[]
mob2=[]
for i in list_of_paths:
    with open(i,'r') as f:
        docs=json.loads(f.read())
    number1=''
    dic1 = docs['messages'][0]
    dic2 = docs['messages'][1]
    for i in dic1['msg']:
        if i.isdigit():
            number1+=i
    mob1.append(number1)
    number2=''
    for j in dic2['msg']:
        if j.isdigit():
            number2+=j
    mob2.append(number2)
df = pd.DataFrame.from_dict({'Yoshops':mob1,'Customers':mob2})
df.to_excel('/content/drive/MyDrive/YoShops Internship/Project Task 5/Demo.xlsx', header=True, index=False)
mob1, mob2

(['919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858',
  '919080749858'],
 ['8280021014',
  '9123557647',
  '8459599718',
  '9528692288',
  '6200028123',
  '9304522101',
  '03181982707',
  '9799818360',
  '9391193459',
  '9962278886',
  '08164881200',
  '9515654885',
  '8815007851',
  '6382105605',
  '9154940621',
  '7277862208',
  '7073128350',
  '8767852141',
  '8815007851',
  '9569402314'])

In [ ]:
df

         Yoshops    Customers
0   919080749858   8280021014
1   919080749858   9123557647
2   919080749858   8459599718
3   919080749858   9528692288
4   919080749858   6200028123
5   919080749858   9304522101
6   919080749858  03181982707
7   919080749858   9799818360
8   919080749858   9391193459
9   919080749858   9962278886
10  919080749858  08164881200
11  919080749858   9515654885
12  919080749858   8815007851
13  919080749858   6382105605
14  919080749858   9154940621
15  919080749858   7277862208
16  919080749858   7073128350
17  919080749858   8767852141
18  919080749858   8815007851
19  919080749858   9569402314

In [ ]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = df[df.duplicated()]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

         Yoshops   Customers
18  919080749858  8815007851

In [ ]:
# creating excel writer object
writer_duplicate = pd.ExcelWriter('/content/drive/MyDrive/YoShops Internship/Project Task 5/Duplicated-file.xlsx')
# write dataframe to excel
 
duplicate.to_excel(writer_duplicate)
 
# save the excel
writer_duplicate.save()

In [ ]:
df_no_duplicates = df.drop_duplicates()
print("New Dataframe After Removes Duplicate Rows :")
 
# Print the resultant Dataframe
df_no_duplicates

New Dataframe After Removes Duplicate Rows :

         Yoshops    Customers
0   919080749858   8280021014
1   919080749858   9123557647
2   919080749858   8459599718
3   919080749858   9528692288
4   919080749858   6200028123
5   919080749858   9304522101
6   919080749858  03181982707
7   919080749858   9799818360
8   919080749858   9391193459
9   919080749858   9962278886
10  919080749858  08164881200
11  919080749858   9515654885
12  919080749858   8815007851
13  919080749858   6382105605
14  919080749858   9154940621
15  919080749858   7277862208
16  919080749858   7073128350
17  919080749858   8767852141
19  919080749858   9569402314

In [ ]:
# creating excel writer object
writer_no_duplicate = pd.ExcelWriter('/content/drive/MyDrive/YoShops Internship/Project Task 5/no-duplicate-excel.xlsx')
# write dataframe to excel
 
df_no_duplicates.to_excel(writer_no_duplicate)
 
# save the excel
writer_no_duplicate.save()

## 3.Write a python programm for Shorting file by keywords.
###input: folder path = text value
###Create new folder=text value
###Search Keyword= text value
###Output: Create folder with input value and inside folder all shorting files displaying.

In [ ]:
# The folder containing files.
directory = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Source'

# Get all files.
list = os.listdir(directory)

# Loop and add files to list.
pairs = []
for file in list:

    # Use join to get full file path.
    location = os.path.join(directory, file)

    # Get size and add to list of tuples.
    size = os.path.getsize(location)
    pairs.append((size,file))

# Sort list of tuples by the first element, size.
pairs.sort(key=lambda s: s[0])

i=0
# Display pairs.
for pair in pairs:
    src = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Source/'+pair[1]
    dst = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Destination/size'+str(i)
    shutil.copy2(src,dst)
    
    print(pair)
    i=i+1

path = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Destination/'
for j in range(0,i):
    os.chdir(path)
    Newfolders = 'size'+str(j)
    os.makedirs(Newfolders)

In [ ]:
i=0
# Display pairs.
for pair in pairs:
  src = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Destination/source/'+pair[1]
  dst = '/content/drive/MyDrive/YoShops Internship/Project Task 5/Destination/size'+str(i)
  shutil.copy2(src,dst)
  i=i+1